<form action="/upload" enctype="multipart/form-data" method="post" role="form">
    <div class="form-group">
        <input  type="file" accept=".csv" name="file" class="form-control"  onchange='acceptCSV(this)'>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <button type="submit" name="subir" class="form-control btn btn-success" value="Subir">Subir</button>
            </div>
        </div>
    </div>
</form>